
/* BANNER */
.banner {

  background: url('../../../images/logopaner.png') 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  background-blend-mode: overlay;
  height: 325px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.banner h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.banner p {
  color: #fff;
  margin-bottom: 0;
}

.banner button {
  margin: 10px 0;
}